<md-content layout-padding="30">

    <div layout="row">
        VaizTrux is developed by Vaizva Inc., a Georgia based emerging strategic software solution provider. Vaizva is an SAP® Silver
        Partner for application development and has expertise in SAP HANA Cloud solutions (HCP), Fiori Applications, Custom
        App Development, S/4 HANA extensions. Vaizva leverages Big data analytics by partnering with Hortonworks® for developing
        several IoT Solutions. Vaizva’s seasoned professionals deliver expert solutions to help clients focus on their core
        business operations, by enabling them to achieve competitive edge in the market.
        <br>
        <br>Vaizva provides industry-specific solutions to several domains that includes Logistics, Retail, Airline, Automobiles,
        Information and Media, Oil and Refinery etc. Vaizva’s services branch from the years of experience and the dynamic
        methodologies used could address client’s needs easily and accustom to their requirements. This undeniably helps
        clients to increase their market value and to position themselves outstanding globally.
        <br>
        <br>Vaizva’s Products: Vaizva’s current portfolio of products include Predictive Transport Tracking, VaizTrack and
        VaizTrux.
        <br>
        <br> Predictive Transport Tracking (PTT): If you are a logistics firm/ 3PL/ Shipper/ warehousing firm, Vaizva has
        a logistic planning & management solution to automate your operations efficiently and effectively. Vaizva conceptualized
        and developed a cloud based “Integrated Logistic Planning & Management Solution” called “Predictive Transport Tracking”
        (PTT), which will provide an exceptional methodology to track your shipments in a real-time which is completely developed
        on SAP HANA Cloud platform (HCP). PTT is a coherently integrated logistics package with planning, scheduling, routing,
        freight & fuel cost estimates, real time tracking and key performance indicators with rich built in analytics. State-of-the-art
        development of PTT Mobile Application runs on all major device platforms including iOS, Android and Windows Phone
        etc., with a unique blend of geo-tracking, positioning technology and spatial tracking solutions.
        <br>
        <br> PTT Capabilities:Automation of load execution process - Ability to plan and optimize every order and/or group
        them for ideal load distribution. Calculate Freight & Fuel costs - Built in Tools with real time updates from Government
        APIs. On time delivery Performance - Optimize routes based on HANA geo-spatial clustering algorithms to meet expected
        delivery schedules. Real Time Tracking- Track your vehicles/shipments at any given point of time by leveraging SAP
        IoT and Mobile solutions (HCPMS). Absolute Visibility - Intuitive data maintenance to manage company owned/third-party
        vehicles and well-built Master applications help you to achieve complete visibility of your resources. Predictive
        Analytics - Complete analytics on Driver/Vehicle rankings, vehicle Maintenance, tracking, fuel consumptions and much
        more. Logistics solutions - Integration and automation of RFQs, Quotations, POs and Invoices to manage Third Party
        Invoice payables.

        <br>
        <br>VaizTrack: If you are a fleet owner or an automobile dealer operating large fleets of vehicles, VaizTrack provides
        you exceptional vehicle monitoring and tracking system that can enhance your operations and safety of your vehicles.
        VaizTrack is a cloud based vehicle monitoring application that helps the fleet owners to efficiently manage & monitor
        their vehicles. VaizTrack’s intelligent software combined with the installation of an electronic device in the vehicle
        allows to draw defined information on the vehicles. VaizTrack provides a cost-effective, reliable and integrated
        system to track vehicle location at any specific point of time, check the battery health status and to enable/disable
        vehicle battery based on the requirement. VaizTrack’s smart analytics provides complete visibility of the vehicles
        and allows the fleet owners to make decisions based on the vehicle reports.
        <br>
        <br>VaizTrack Capabilities: Manage Vehicle Information – Ability to effectively manage and maintain vehicle information
        in the application. Monitor Vehicles – Intelligent software combined with the electronic devices attached to the
        vehicles allows you to efficiently monitor your vehicles. Vehicle Safety – Ability to track your vehicle any time
        and to enable/disable vehicle battery with just one click in the application. Real Time Tracking – Track your vehicles
        at any given point of time by leveraging SAP IoT and Mobile solutions. Battery Status – VaizTrack’s software tracks
        the vehicle battery status and updates the user with the alerts and notifications in order to take preventive measures.
        Predictive Analytics – View the analytics associated to vehicles, battery status and battery health. Analytics provide
        complete visibility of your vehicles and enhances your operational efficiency.
    </div>