<md-content layout-padding="20">
  <form name="userForgotPasswordForm" novalidate layout="column">
    <div flex layout="row" layout-align="center start">
      <md-card flex-gt-xs="33">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Reset Password</span>
          </md-card-title-text>
          <md-divider></md-divider>
        </md-card-title>
        <md-card-content>

<md-input-container class="md-block">
          <label>Old Password</label>
          <input ng-model="$ctrl.user.oldPassword" name="oldPassword" type="password" required ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/">
          <div ng-messages="userForgotPasswordForm.oldPassword.$error" role="alert">
              <div ng-message-exp="['required', 'pattern']">
                Password should be atleast 8 characters long and should contain one number,one character and one special character.
              </div>
            </div>
        </md-input-container>
<div layout-gt-sm="row">
<md-input-container class="md-block">
          <label>New Password</label>
          <input ng-model="$ctrl.user.newPassword" type="password" name="newPassword" required ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/">
           <div ng-messages="userForgotPasswordForm.newPassword.$error" role="alert">
              <div ng-message-exp="['required', 'pattern']">
                Password should be atleast 8 characters long and should contain one number,one character and one special character.
              </div>
            </div>
        </md-input-container>
<md-input-container class="md-block">
          <label>Confirm New Password</label>
          <input ng-model="$ctrl.user.confirmNewPassword" type="password">
        </md-input-container>
</div>
 <md-card-actions layout="row" layout-align="end space-between end">
          <md-button ui-sref="login" class="md-primary">Cancel</md-button>
          <md-button class="md-raised md-primary" ui-sref="home" ng-click="$ctrl.resetPassword()">Submit</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </form>
</md-content>