<div class="form-group col-xs-12 col-md-12" style="margin-top: 10px">
	<label for="name" class="control-label">Scenario</label>
	<!-- <select [(ngModel)]="lFilterData.scenario.key" [ngModelOptions]="{standalone: true}" class="form-control" style="width:84%"
	 (change)="onChange($event,'scenario')" required>
		<option value="" selected>Please select</option>
		<option *ngFor="let item of lScenarioData let i = index" value="{{item.id}}">{{item.desc}}</option>
	</select> -->

	<br>
	<div class="search-wrapper">
		<p-autoComplete [(ngModel)]="lFilterData.scenario" [ngModelOptions]="{standalone: true}" [suggestions]="lSearchResults" field="desc"
		 (onSelect)="setSelected($event)" (completeMethod)="filterCountrySingle($event)" [size]="45" [minLength]="1" placeholder="Select Scenatio"
		 [dropdown]="true" (onDropdownClick)="onChange($event,'scenario')"></p-autoComplete>


		<button class="close-icon-type" (click)="eraseMe()"></button>

	</div>

</div>