<div class="banner"></div>
<!--<div class="homeimage">
                    <img src="assets/images/banner.jpg" alt="">
                </div>!-->

<md-content layout-padding="30">
    <md-button ng-click="showSimpleToast()">
    </md-button>
    <div> </div>
    <div layout="row">
        <p>VaizTrux by Vaizva Inc., is an intelligent and innovative search engine to find the reliable logistics service providers
            for your transportation needs. The major data source for VaizTrux is from Federal Motor Carrier Safety Administration
            (FMCSA) and other reliable sources. With this, you can narrow down your search with active transportation agencies
            for a given geographical location. VaizTrux’s search results provide you with the contact details, FMCSA Safety
            Ratings, Inspections, Violations, Crash details and the ability to send Request For Quotes (RFQ) to selected
            carriers.
        </p>
    </div>
    <div layout="row" layout-xs="column">
        <div flex>
            <h1 class="md-title">VaizTrux Services :</h1>

            <md-list>
                <md-list-item>Search over 1.4 Million records and a growing database of trucking companies.</md-list-item>
                <md-list-item>Easy access to numerous DOT registered service providers.</md-list-item>
                <md-list-item>FMCSA Safety Measurement System (SMS) Data with US DOT Numbers for both Interstate and Intrastate motor carriers.</md-list-item>
                <md-list-item>Get CSA scores, safety rating and violations for serval service providers.</md-list-item>
                <md-list-item>Search capabilities based on your commodity type and carrier type for your specified locations.</md-list-item>
                <md-list-item>Over 1.4 Million safety records in the database to assess and select the carrier.</md-list-item>
                <md-list-item>Get access to the latest and up-to-date information on carriers in your search results.</md-list-item>
                <md-list-item>Ability to view the inspection results related to driver and vehicle out-of-service violations and FMCSA
                    BASIC violations for each DOT number.</md-list-item>
                <md-list-item>Get access to more safety information related to violations and crash reports for selected carriers.</md-list-item>
            </md-list>
            <h1 class="md-title">Registered Users will be able to :</h1>
            <md-list>
                <md-list-item>Save the search criteria for future use.</md-list-item>
                <md-list-item>Send Request For Quotes (RFQs) to individual/group of transporters.</md-list-item>
                <md-list-item>Receive communication from VaizTrux on Quotations for their RFQ’s.</md-list-item>
                <md-list-item>Get the evaluation reports of transporters for their saved selection criteria.</md-list-item>
                <md-list-item>Search capabilities based on your commodity type and carrier type for your specified locations.</md-list-item>
            </md-list>

        </div>





        <div flex>

            <div class="text-center pad-top-20 pad-bottom-20">
                <a ui-sref="searchPage">
                    <img src="assets/images/search.PNG" alt="">
                </a>
            </div>

            <div class="text-center pad-top-20 pad-bottom-20">

                <a>
                    <img src="assets/images/Vaiz.PNG" alt="">
                </a>

            </div>


        </div>
    </div>