<div class="row" style="width: 100%; overflow: scroll">

  <div  class="col-md-12" style="width: 500%; overflow: scroll">

    <p-dataTable [value]="lModelData"  selectionMode="single">
      <p-column field="mdlAsgnId" header="Model Assgn Id "  [sortable]="true"> </p-column>
      <p-column field="msDesc" header="Managed Segment" [sortable]="true" >
      </p-column>
      <p-column field="mgDesc" header="Managed Geography"  [sortable]="true">
      </p-column>
      <p-column field="leDesc" header="Legal Entity"  [sortable]="true">
      </p-column>
      <p-column field="goc" header="Goc"  [sortable]="true">
      </p-column>
      <p-column field="parentAcctDesc" header="Parent Account"  [sortable]="true">
      </p-column>
      <p-column field="ccyCode" header="Currency"  [sortable]="true">
      </p-column>
      <p-column field="sumAffilCode" header="Affiliate"  [sortable]="true"> </p-column>
      <p-column field="accountDesc" header="Account"  [sortable]="true">
      </p-column>
      <p-column field="frcstProductDesc" header="Forecast Portfolio"  [sortable]="true">
      </p-column>
      <p-column field="balRunOffMdlDesc" header="Balance RunOff Model"  [sortable]="true">
      </p-column>
      <p-column field="balDynamicMdlDesc" header="Balance Dynamic Model"  [sortable]="true">
      </p-column>
      <p-column field="tpMdlDesc" header="TP Model"  [sortable]="true">
      </p-column>
      <p-column field="rateMdlName" header="Rate Model"  [sortable]="true">
      </p-column>
      <p-column field="rateMdAcct" header="Rate Account"  [sortable]="true"> </p-column>
      <p-column field="rateMdlName1" header="Rate Model2"  [sortable]="true">
      </p-column>
      <p-column field="rateMdAcct1" header="Account2"  [sortable]="true"> </p-column>
      <p-column field="rateMdlName2" header="Rate Model3"  [sortable]="true"> </p-column>
      <p-column field="rateMdAcct2" header="Account3"  [sortable]="true"> </p-column>
      <p-column field="rateMdlName3" header="Rate Model4"  [sortable]="true"> </p-column>
      <p-column field="rateMdAcct3" header="Account4"  [sortable]="true"> </p-column>
      <p-column field="rateMdlName2" header="Rate Model5"  [sortable]="true"> </p-column>
      <p-column field="rateMdAcct4" header="Account5"  [sortable]="true"> </p-column>
      <p-column field="rateMdlName5" header="Rate Model6"  [sortable]="true"> </p-column>
      <p-column field="rateMdAcct5" header="Account6"  [sortable]="true"> </p-column>

      <p-column field="rateMdlName6" header="Rate Model"  [sortable]="true"> </p-column>
      <p-column field="rateMdAcct6" header="Account7"  [sortable]="true"> </p-column>
      <p-column field="rateMdlName7" header="Rate Model8"  [sortable]="true"> </p-column>
      <p-column field="rateMdAcct7" header="Account8"  [sortable]="true"> </p-column>

      <p-column field="rateMdlName8" header="Rate Model9"  [sortable]="true"> </p-column>
      <p-column field="rateMdAcct8" header="Account9"  [sortable]="true"> </p-column>


      <p-column field="rateMdlName9" header="Rate Model10"  [sortable]="true"> </p-column>
      <p-column field="rateMdAcct9" header="Account10"  [sortable]="true"> </p-column>

      <p-column field="tpBalAcctDesc" header="TP Balance Account"  [sortable]="true"> </p-column>
      <p-column field="tpRateAcctDesc" header="TP Rate Account"  [sortable]="true"> </p-column>

     




    </p-dataTable>


  </div>
</div>