<md-content layout-padding="20">
  <form name="userRegisterForm" novalidate layout="column">
    <div flex layout="row" layout-align="center start">
      <md-card flex-gt-xs="33">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Forgot Password</span>
          </md-card-title-text>
          <md-divider></md-divider>
        </md-card-title>
        <md-card-content>
          <md-input-container class="md-block">
            <label>Email</label>
            <input ng-model="$ctrl.user.email" name=email type="email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" required>
            <div ng-messages="userRegisterForm.email.$error" role="alert">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                Your email must be between 10 and 100 characters long and look like an e-mail address.
              </div>
            </div>
          </md-input-container>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end space-between end">
          <md-button ui-sref="login" class="md-primary">Cancel</md-button>
          <md-button class="md-raised md-primary" ui-sref="login" ng-click="$ctrl.forgotPassword()" ng-disabled=userRegisterForm.$invalid>Submit</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </form>
</md-content>