.text-center{
    text-align: center;
}

.btn-md{
    width:30%;
    box-sizing: border-box;
    padding:15px;
}
.btn-lg{
    width:40%;
    box-sizing: border-box;
    padding:15px;
}

.pad-top-20{
    padding-top: 20px;
}
.pad-bottom-20{
    padding-bottom: 20px;
}